version: "3.3"

services:
        jazzy:  
                build:  
                        context: .
                        dockerfile: Dockerfile.jazzy
                container_name: jazzy
                network_mode: host
                ipc: host
                privileged: true
                volumes:
                        - /dev:/dev
                        - /etc/localtime:/etc/localtime:ro
                environment:
                        ROS_DOMAIN_ID: "0"
                        RMW_IMPLEMENTATION: rwm_fastrtps_cpp
                command: ["bash",
                          "-lc",
                          "sleep infinity"]
                restart: unless-stopped

        microros_agent:
                image: microros/micro-ros-agent:jazzy
                container_name: microros_agent
                network_mode: host
                privileged: true
                volumes:
                        - /dev:/dev
                        - /etc/localtime:/etc/localtime:ro
                environment:
                        ROS_DOMAIN_ID: "0"
                        RMW_IMPLEMENTATION: rmw_fastrtps_cpp
                command: ["ros2",
                          "run",
                          "micro_ros_agent",
                          "micro_ros_agent",
                          "serial",
                          "--dev",
                          "/dev/ttyUSB0",
                          "-b",
                          "115200"]
                restart: unless-stopped
                depends_on:
                        - jazzy
